@charset "utf-8";

@font-face{
font-famliy: "pretendard";
src: url(../font/Pretendard-Thin.woff);
font-weigt: 100;
font-style: normal;}

@font-face{
font-famliy: "pretendard";
src: url(../font/Pretendard-ExtraLight.woff);
font-weigt: 200;
font-style: normal;}

@font-face{
font-famliy: "pretendard";
src: url(../font/Pretendard-Light.woff);
font-weigt: 300;
font-style: normal;}

@font-face{
  font-famliy: "pretendard";
  src: url(../font/Pretendard-Regular.woff);
  font-weigt: 400;
  font-style: normal;}
  
  @font-face{
    font-famliy: "pretendard";
    src: url(../font/Pretendard-Medium.woff);
    font-weigt: 500;
    font-style: normal;}

    @font-face{
      font-famliy: "pretendard";
      src: url(../font/Pretendard-SemiBold.woff);
      font-weigt: 600;
      font-style: normal;}

      @font-face{
        font-famliy: "pretendard";
        src: url(../font/Pretendard-Bold.woff);
        font-weigt: 700;
        font-style: normal;}

        @font-face{
          font-famliy: "pretendard";
          src: url(../font/Pretendard-ExtraBold.woff);
          font-weigt: 800;
          font-style: normal;}

          @font-face{
            font-famliy: "pretendard";
            src: url(../font/Pretendard-Black.woff);
            font-weigt: 900;
            font-style: normal;}
